<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Item List and Search Sample</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css"
    />
  </head>
  <body>
    <div id="app" class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <h1 class="title is-1">UNIT Search Sample</h1>

          <div class="tabs is-centered">
            <ul>
              <li :class="{ 'is-active': acitiveWordsTab }">
                <a @click="changeTab(1)">モジュール番号で絞り込む</a>
              </li>
              <li :class="{ 'is-active': acitivePriceTab }">
                <a @click="changeTab(2)">仕様で絞り込む</a>
              </li>
            </ul>
          </div>

          <div v-if="acitiveWordsTab" class="field">
            <label class="label" for="words">モジュール番号</label>
            <input
              id="words"
              class="input"
              type="text"
              name="words"
              placeholder="モジュール番号を入力してください"
              v-model.trim="filterText"
            />
          </div>
        

          <div v-if="acitivePriceTab" class="field">
            
            <label class="label">ジャンル</label>
            <div class="control">
              <label
                v-for="price in prices"
                :key="price.id"
                class="radio"
                :for="'price' + price.id"
              >
                <input
                  :id="'price' + price.id"
                  type="radio"
                  name="price"
                  :value="price.id"
 
                />
                {{ price.text }}
              </label>
            </div>
            <label class="label">タイプ</label>
            <div class="control">
              <label
                v-for="wtype in wtypes"
                :key="wtype.id"
                class="radio"
                :for="'wtype' + wtype.id"
              >
                <input
                  :id="'wtype' + wtype.id"
                  type="radio"
                  name="wtype"
                  :value="wtype.id"
 
                />
                {{ wtype.text }}
              </label>
            </div>
            <label class="label">機能</label>
            <div class="control">
              <label
                v-for="wfunction in wfunctions"
                :key="wfunction.id"
                class="radio"
                :for="'wfunction' + wfunction.id"
              >
                <input
                  :id="'wfunction' + wfunction.id"
                  type="checkbox"
                  name="wfunction"
                  :value="wfunction.id"
 
                />
                {{ wfunction.text }}
              </label>
            </div>
          </div>
          <div> {{ wfunction.text }}</div>
        <div class="new-todo-action">
          <form id="form-todo" @submit.prevent="createTodo">
            <button type="submit" :disabled="!canCreateTodo">作成</button>
          </form>
        </div>
        </div>
      </div>
              <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th>ID</th>
                <th>ユニット</th>
                <th class="has-text-right">TAG</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in filteredItems" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td class="has-text-right">{{ item.price }}</td>
              </tr>
            </tbody>
          </table>
          <p v-if="filteredItems.length === 0" class="has-text-centered">
            対象のユニットは見当たりませんでした。
          </p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
